body {
    font-family: 'Happy Monkey', cursive;
    font-family: 'Tilt Neon', cursive;
}

#main {
    text-align: center;
    border: none;
    border-radius: 4px;
    background-color: grey;
    padding: 80px 100px;
    margin: 0px;
    display: block;
    width: 300px;
    margin: 100px auto;
    /*font-family: inherit;*/
}

#pass {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding: 5px 5px;
    font-style: italic;
    font-size: large;
    font-weight: bold;
    font-family: inherit;
}

#user-name {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding: 5px 5px;
    font-style: italic;
    font-size: large;
    font-weight: bold;
    font-family: inherit;
}

.btn {
    margin-top: 20px;
    border: none;
    padding: 5px 8px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 2px black;
    background: rgb(43, 177, 43);
    border-radius: 5px;
    font-family: inherit;
}